{% extends "layouts/base.html" %}
{% block body %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content" >
          <div class="container-fluid " >
            <div class="row">
                <div class="col-12 mb-3">
                    <div id="content-wrapper">
                        <div class=" " style="margin-top: 10px;" >
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                <a href="{% url 'home:home' %}"><i class="nav-icon fas fa-home"></i> الصفحة الرئيسية </a></li>
                                <li class="breadcrumb-item active">
                                    <a href="{% url 'home:profile' %}"> الملف الشخصي</a>
                                </li>
                            </ol>
                            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                                <div class="card-header justify-content-center">
                                <h3 class="font-weight-light my-4 text-center">تغير كلمة المرور</h3>
                                </div>
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label class=" mb-1" for="id_old_password">كلمة المرور القديمة</label>
                                                    <input type="password" name="old_password" autocomplete="new-password"
                                                        class="form-control" required id="id_old_password"
                                                        placeholder="Enter Old Password"/>
                                                    <span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label class=" mb-1" for="id_new_password1">كلمة المرور الجديدة</label>
                                                    <input type="password" name="new_password1" autocomplete="new-password"
                                                        class="form-control" required id="id_new_password1"
                                                        placeholder="Enter New Password"/>
                                                    <span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label class=" mb-1" for="id_new_password2">تأكيد كلمة المرور </label>
                                                    <input type="password" name="new_password2" autocomplete="new-password"
                                                        required id="id_new_password2" class="form-control"
                                                        placeholder="Confirm New Password"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group mt-0 mb-1">
                                                    <button type="submit" class="col-md-12 btn btn-dark" id="reset">حفظ كلمة المرور
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}