{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} المشاريع{% endblock %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12 ">
            <div class=" " style="margin-top: 10px;" > 
              <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}"><i class="nav-icon fas fa-home"></i>الصفحة الرئيسية</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'dashboard:category' %}">المشاريع</a></li>
              </ol>          
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                  {{ message }}
              </div>
            {% endfor %}
      <!-- Default box -->
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"></h3>
                  <div class="card-tools">
                    <a href="{% url 'dashboard:category_add'%} " class="btn btn-success pull-left "><i class="fa fa-plus"></i>اضافة</a>
                  </div>
                </div>
                <div class="card-body p-0 " >
                  <table class="table table-striped projects" style="overflow-x: auto;">
                      <thead>
                          <tr>
                              <th style="width: 1%">
                                  #
                              </th>
                              <th style="width: 35%">
                                  اسم
                              </th>
                              <th style="width: 10%">
                                  صورة
                              </th>
                              <th style="width:35%;" class="text-center">
                                  آخر تحديث
                              </th>
                              <th>
                                تحرير
                              </th>
                              <th>
                                حذف
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for x in category %}
                          <tr>
                              <td>
                                {{ x.id }}
                              </td>
                              <td>
                                    {{ x.name }}                               
                              </td>
                              <td>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <img alt="Avatar" class="table-avatar" src="{{ x.image.url }}">
                                      </li>
                                  </ul>
                              </td>                    
                              <td class="project-state text-center" >
                                {{ x.create_at }}
                              </td>
                              <td class="project-actions text-right">                   
                                  <a class="btn btn-info btn-sm" href="{% url 'dashboard:category_edite' x.id %}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    تعديل
                                </a>

                                  
                              </td>
                              <td>

                                <a class="btn btn-danger btn-sm" href="{% url 'dashboard:category_delete' x.id %}">
                                  <i class="fas fa-trash">
                                  </i>
                                  حذف
                              </a>
                              </td>
                           
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
          </div>
        </div>
      </div>
      </div>
            <!-- /.حذف -->
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">هل أنت متأكد؟</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% for x in project %}
            <div class="modal-body">
              <p>أأنت متأكد أنك تريد حذف العنصر المحدد؟ جميع العناصر المرتبطة بها سيتم حذفها:&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <a class="delete" href="{% url 'dashboard:project_delete' x.id %}" >
              <button type="button" class="btn btn-primary">نعم أنا متأكد</button>
              </a>
              {% endfor %}
              <button type="button" class="btn btn-default" data-dismiss="modal"> لا ترجوع للخلف</button>
            
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.card -->
  </section>
    <!-- /.content -->
  </div>
{% endblock %}